@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 25px 0px 25px 0px;
    background-color: #02a791cc;
    width: 100%;
    height: 80px; 
    position: sticky;
    top: 15px; 
    z-index: 1;
   
}
.navegador.active{
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
    transform: translateY(-5px);
}

/*** ACA COMIENZA EL ESTILO DEL NAVEGADOR***/

.estiloNav{
    display: flex;
    max-height: 250px;   
}
li{
    margin: 30px;
}
a{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.liEstilo{
    display: flex;
    width: 280px;
    margin-right: 170px;
    margin-left: 170px;
}
.logoPrincipal{
    padding-left: 40px;
}
.enlaceLogo{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}
.navegador ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content:center;
    justify-content:center; 
    align-items: center;
    height: 80px;  
}
.navegador a{
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    font-size: 22px;  
    color: #fefffe; 
    text-decoration: none;
}
.navegador img{
    margin-right: 60px;
    height: 250px;   
}
.estiloUl a:hover{
    color: black;
    background-color: aliceblue;
    border-radius: 22px;
    text-decoration: none;
    transition: .9s;
    
}
/*** ACA COMIENZA EL ESTILO DE LAS CARDS PRINCIPALES***/

.principales,
.PrincipalesDos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px 5px 5px 10px;
    background-color: #ffdb8ecc;
    width: 100%;
}    
.principales a,
.PrincipalesDos a{
    text-decoration: none;
    color: rgb(81, 82, 88);
    
}

/*** comienza la tarjeta de rocio ***/

.rochi{
    display: flex;
    flex-wrap: wrap;
    background-color: #d66c162d; 
       
}
.rochi img{
    margin: 20px 20px 20px 30px;
    width: 390px;
    height: 540px;
    border-radius: 10px;
}
.rochi img:hover{
    opacity: 0.7;
}
.modalRochi:target{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.modalRochi{
    display: none;
}
.imagenRocio{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenRocio img{
    margin: 0;
    width: 70vh;
}
.imagenRocio a {
    display: flex;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 15px;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 10px;
    box-sizing: content-box;
    align-content: baseline;
    font-size: 15px;
    margin-top: 10px;
    padding: 5px;
    height: fit-content;
}
/*** comineza la tarjeta de infantiles***/
.chiquis{
    display: flex;
    flex-wrap: wrap;
    background-color: #ebe70d41;
}
.chiquis img{
    margin: 20px 20px 40px 75px;
    width: 540px;
    height: 370px;
    border-radius: 10px;
}
.chiquis img:hover{
    opacity: 0.7;
}
.modalChiquis:target{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.modalChiquis{
    display: none;
}
.imagenChiquis{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px
}
.imagenChiquis img{
    height: 90vh;
}
.imagenChiquis a img{
    height: 20px;
    width: 20px;     
}
.imagenChiquis a {
    display: flex;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 15px;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 10px;
    box-sizing: content-box;
    align-content: baseline;
    font-size: 15px;
    padding: 5px;
    height: fit-content;
}
/*** aca comienza la tarjeta de la pelu***/
.peluquita{
    display: flex;
    flex-wrap: wrap;
    background-color: #fc4cb934;
}
.peluquita img{
    margin: 20px 20px 40px 75px;
    width: 540px;
    height: 370px;
    border-radius: 10px;
}
.peluquita img:hover{
    opacity: 0.7;
}
.modalPeluquita:target{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.modalPeluquita{
    display: none;
}
.imagenPeluquita{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenPeluquita img{
    margin-top: 30px;
    margin-left: 20px;
    height: 90vh;
}
.imagenPeluquita a {
    display: flex;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 15px;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 10px;
    box-sizing: content-box;
    align-content: baseline;
    font-size: 15px;
    padding: 5px;
    height: fit-content;
}
/*** aca comienza la tarjeta de Deporte***/
.deport{
    display: flex;
    flex-wrap: wrap;
    background-color: #08c2274b;    
}
.deport img{
    margin: 20px 20px 20px 30px;
    width: 390px;
    height: 540px;
    border-radius: 10px;
}
.deport img:hover{
    opacity: 0.7;
}
.modalDeport:target{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.modalDeport{
    display: none;
}
.imagenDeporte{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenDeporte img{
    margin: 0;
    width: 70vh;
}
.imagenDeporte a {
    display: flex;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 15px;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 10px;
    box-sizing: content-box;
    align-content: baseline;
    font-size: 15px;
    padding: 5px;
    height: fit-content;
}

/*** SEGUNDA LINEA DE ESTILO DE CARDS***/

.PrincipalesDos{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 10px 5px 5px 10px;
    background-color: #ffdb8ecc;
}
.PrincipalesDos a{
    text-decoration: none;
    color: #515258;
}

/*** aca comienza la tarjeta de las modelos***/

.model{
    display: flex;
    flex-wrap: wrap;
    background-color: #c2b6084b;    
}
.model img{
    margin: 20px 20px 20px 30px;
    width: 390px;
    height: 540px;
    border-radius: 10px;
}
.model img:hover{
    opacity: 0.7;
}
.modalModel:target{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.modalModel{
    display: none;
}
.imagenModel{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenModel img{
    margin: 0;
    width: 70vh;
}
.imagenModel a {
    display: flex;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 15px;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 10px;
    box-sizing: content-box;
    align-content: baseline;
    font-size: 15px;
    padding: 5px;
    height: fit-content;
}

/*** aca comienza la tarjeta de carolina***/
.carito{
    display: flex;
    flex-wrap: wrap;
    background-color: #7808c241;    
}
.carito img{
    margin: 20px 20px 20px 30px;
    width: 390px;
    height: 540px;
    border-radius: 10px;
}
.carito img:hover{
    opacity: 0.7;
}
.modalCarito:target{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.modalCarito{
    display: none;
}
.imagenCarito{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenCarito img{
    margin: 0;
    width: 70vh;
}
.imagenCarito a {
    display: flex;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 15px;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 10px;
    box-sizing: content-box;
    align-content: baseline;
    font-size: 15px;
    padding: 5px;
    height: fit-content;
}

/*** aca comienza la tarjeta Urbano***/
.urbano{
    display: flex;
    flex-wrap: wrap;
    background-color: #6872792d;    
}
.urbano img{
    margin: 20px 20px 20px 30px;
    width: 390px;
    height: 540px;
    border-radius: 10px;
}
.urbano img:hover{
    opacity: 0.7;
}
.modalUrbano:target{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.modalUrbano{
    display: none;
}
.imagenUrbano{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.imagenUrbano img{
    margin: 0;
    width: 70vh;
}
.imagenUrbano a {
    display: flex;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 15px;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin: 5px 10px;
    box-sizing: content-box;
    align-content: baseline;
    font-size: 15px;
    padding: 5px;
    height: fit-content;
}
/*** aca comienza la tarjeta de Efectos***/
.efectos{
    display: flex;
    flex-wrap: wrap;
    background-color: #1d1c1c56;
}
.efectos img{
    margin: 20px 20px 40px 75px;
    width: 540px;
    height: 370px;
    border-radius: 10px;
}
.efectos img:hover{
    opacity: 0.7;
}
.modalEfectos:target{
    display: flex;
    flex-direction: column;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.modalEfectos{
    display: none;
}
.imagenEfectos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.imagenEfectos img{
    height: 90vh;
}
.imagenEfectos a img{
    height: 20px;
    width: 20px;
    
}
.imagenEfectos a {
    display: flex;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 15px;
    z-index: 2;
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    margin: 0px 10px;
    box-sizing: content-box;
    align-content: baseline;
    font-size: 15px;
    padding: 5px;
    height: fit-content;
}
.imagenGancia{
    width: 318px;
    height: 477px;
    padding-left: 0px;
    border-radius: 4px;
}
/*** TARJETA QUE DA ESTILO A MI PERSONA***/

.fotografo{
   background-color: #bbdead;
   min-height: 100vh;
   display: flex;
   flex-direction: row;
   align-content: center;
   justify-content: center;
   align-items: center; 
}
/*** ESTILO A LOS CURSOS***/

.estiloCurso img{
    display: flex;
    max-width: 380px;
    padding-left: 50px;
    padding-top: 15px;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card-title{
    font-weight: bold;
}
.card p{
    flex-grow: 1;
}
/*** ESTILO AL FORMULARIO***/

.datosForm form{
    display: flex;
    background-color: #c0bdbd;
    padding: 50px;
    margin-top: 10px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:center;
    justify-content: center;
    align-items: center;
}
.datosForm input{
    width: 30%;
    height: 30px;
}
.datosForm label{
    font-weight: bold;   
}
button{
    width: 80px;
}
/*** BOTON PARA VOLVER E IR AL INICIO***/
.botonInicio{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 70px;
    z-index: 2;
}
.botonInicio:hover,
.botonRegreso:hover{
    color: black;
    background-color: aliceblue;
    border-radius: 22px;
    text-decoration: none;
    transition: .3s;
}
.boton{
    text-decoration: none;
}
.botonRegreso{
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #5d5f66c5;
    border: solid #3f3c3c93;
    border-radius: 70px;
    z-index: 2;
}

/*** ACA EMPIEZA EL ESTILO PARA TODO LO REFERIDO A FOOTER***/

.piecito{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
    background-color: #02a791;
    height: 80px;
    width: 100%;
}
.piecito p{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 25px;
    margin-right: 60px;
}
.piecito img{
    width: 33px;
    height: 45px;
    margin-left: 7px;
    padding: 5px;
}
.estiloContacto{
    min-height: 550px;
    background-color: #c0bdbd;
}

/* estilo iconos de redes sociales*/

.iconoFacebook{
    display: flex;
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 10px;
    margin-right: 5px;
}

.iconoFacebook:hover{
    background-color: #1317fc;
    transform: scale(1.3) rotate(360deg);
    border-radius: 40px;
    transition:.5s
}
/* aca empieza instagram*/

.iconoInstagram{
    display: flex;
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 10px;
    margin-right: 5px;
}

.iconoInstagram:hover{
    background-color: #e42474;
    transform: scale(1.3) rotate(360deg);
    border-radius: 40px;
    transition:.5s
    
}
/* aca empieza whatsapp*/

.iconoWhatsapp{
    display: flex;
    width: 50px;
    height: 50px;
    border: solid;
    border-radius: 10px;
}

.iconoWhatsapp:hover{
    background-color: #3f9b3c;
    transform: scale(1.3) rotate(360deg);
    border-radius: 40px;
    transition:.5s
}
.imagenIconoWtp{
    margin-right: 5px;
}
.wpp{
    position: fixed;
    bottom: 40px;
    right: 20px;
    width: 70px;
    z-index: 2;
}
.wpp:hover{
    transform: scale(1.3);
    transition: .3s;
}
/*** aprender como conectar el submit del formulario con el mail -    


         /* MEDIA DE 1200 PX*/   
       
 @media (max-width: 1200px) {
        .principales{
            display: flex;
            justify-content: center;
            width: 100%;
        }
        .PrincipalesDos{
            display: flex;
            justify-content: center;
            width: 100%;
        }
}
        /* MEDIA DE 992 PX*/
